.main {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  gap: 10px;
  margin: 1rem auto; 
}
.headline{
    text-align: center;
}

.highE {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 1rem auto;
  width: 90%;
  height: 400;
}
.lowE {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 1rem auto;
   width: 90%;
  height: 400;
}

