.calculator {
  border-radius: 1rem;
  padding: 2rem;
  max-width: fit-content;
  max-height: fit-content;
  margin: 1rem auto;
  text-align: center;
  background-color: antiquewhite;
  box-shadow: rgba(100, 100, 111, 0.61) 0px 7px 29px 0px;
 
}

.headline {
  font-size: 4rem;
  margin-bottom: 1rem;
  
}
.input {
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 10px;
  padding: 2rem;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.buttonGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1rem;
}

.btn {
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn:hover {
  transform: scale(1.05);
}

.emoji {
  font-size: 1.8rem;
  margin-bottom: 0.3rem;
}

.description {
  font-size: 0.9rem;
}
.deleteContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.resultBox {
  margin-top: 2rem;
  background-color: #fdfdfd;
  border-radius: 10px;
  padding: 1rem;
}

.total {
  font-size: 2rem;
  color: black;
}


/* mobile */
@media screen and (max-width: 599) {

 .navigationBtn > h1{
   padding: 0 2.5rem;
 }
}

/* nettbrett */
@media (min-width: 600px) and (max-width: 1024px) {
 .navigationBtn > h1{
   padding: 0 2.5rem;
 }

  }