.containerQuestions {
  border: 1px solid black;
  text-align: center;
  margin: 2rem auto;
  padding: 2rem 2rem;
  max-width: fit-content;
  max-height: fit-content;
  border-radius: 2rem;
  background-color: antiquewhite;
  box-shadow: rgba(100, 100, 111, 0.61) 0px 7px 29px 0px;
}
.headline{
  font-size: 4rem;
  margin: 1.5rem auto;
}
.questions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.quizBtn {
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.quizBtn:hover {
  transform: scale(1.05);
}
.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  gap: 2rem;
}
.btn {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn:hover {
  transform: scale(1.05);
}

/* mobile */
@media screen and (max-width: 599) {
  .headline {
    margin: 3rem auto;
    font-size: 3rem;
  }
    .containerQuestions{
    height: 50%;
  }
  .questions{
    padding: 0 auto;
    justify-content: center;
    
  }
 
}

/* nettbrett */
@media (min-width: 600px) and (max-width: 1024px) {
  .main{
    flex-wrap: wrap;
  }
  .headline {
    margin: 2rem auto;
    font-size: 6rem;
  }
  .containerQuestions{
    height: 50%;
  }
  .questions{
    padding: 0 auto;
    justify-content: center;
    
  }
}
