.footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  background-color: #000000;
  padding: 1em 0;
}
.section {
  font-size: 1rem;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fa {
  height: 3rem;
  width: 3.5rem;
}

/* mobile */
@media screen and (max-width: 599) {
.section {
flex-wrap: wrap;
gap: 40px;
}
.fa {
  height: 2rem;
  width: 2.5rem;
}
}
/* nettbrett */
@media (min-width: 600px) and (max-width: 1024px) {
  .section {
flex-wrap: wrap;
gap: 20px
}
.fa {
  height: 2.5rem;
  width: 3rem;
}
}
