.DesktopMenu {
  display: flex;
  gap: 1rem;
}
.MobileAndTablerMenu {
  display: none;
}

/* mobile */
@media screen and (max-width: 599) {
  .DesktopMenu {
    display: none;
  }

  .MobileAndTablerMenu {
    display: block;
  }
}
/* nettbrett */
@media (min-width: 600px) and (max-width: 1024px) {
 .DesktopMenu {
    display: none;
  }

  .MobileAndTablerMenu {
    display: block;
  }
}
