.main {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 2rem;
  line-height: 1.5;
}
.AboveTheFold {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
  height: 90vh;
  background-image: url("../../public/nicholas-doherty-pONBhDyOFoM-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.AboveTheFold::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.AboveTheFold section {
  position: relative;
  z-index: 1;
}
.ClimaSection {
  display: flex;
  justify-content: center;
}

/* mobile */
@media screen and (max-width: 599) {
  .main {
    margin-top: 3rem;
    margin-left: 0;
    margin-right: 0;
  }
}

/* nettbrett */
@media (min-width: 600px) and (max-width: 1024px) {
  .main {
    margin: 0 auto;
    line-height: 1.5;
  }
  .AboveTheFold {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
    height: 90vh;
  }
}
