.nav {
  margin: 1rem auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100vw;
}
.navList {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20rem;
  font-size: 2em;
}
.listItem:hover {
  text-decoration: underline;
}

/* nettbrett */
@media (min-width: 600px) and (max-width: 1024px) {
  .nav {
    margin: 0 auto;
  }

  .navList {
    font-size: 1em;
    height: 2rem;
    gap: 10rem;
  }
}
