.ToggleMenuIcon {
  font-size: 2rem;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  color: #000000;
  margin-right: 20px;
}
.toggle {
  display: none;
}
.NavigationMenu {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #ffff;
  opacity: 0;
  pointer-events: none;
  transform: translateX(100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.MenuIsOpen {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}
.NavigationMenu ul {
  padding: 0;
  list-style: none;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
}
.NavigationMenu li {
  width: 100vw;
  text-align: center;
}
.NavigationMenu li:hover {
  background-color: #000000;
  color: #ffff;
  width: 100vw;
  text-align: center;
}
