.main {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0rem 2rem;
  text-align: center;
  line-height: 1.5;
}
.contentBox {
  margin: 1rem auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 90vw;
  min-height: 700px;
}
.contentBox > h1 {
  font-size: 3rem;
}
.contentBox > section {
  margin: 0 2rem;
}
.img {
  margin: 1rem auto;
}
.backHome {
  color: white;
  padding: 0.5rem 2rem;
  width: 50%;
  font-size: 1rem;
  background-color: black;
  border-radius: 20px;
  margin: 1rem auto;
  display: none;
}

.backHome:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}
/* mobile */
@media screen and (max-width: 599) {
  .main {
    margin: 0rem;
  }
  .contentBox {
    margin: 0rem;
    width: 100vw;
  }
  .contentBox h1 {
    font-size: 2rem;
    margin-top: 1.5rem;
  }
  .backHome {
    display: inline-block;
  }
}
/* nettbrett */
@media (min-width: 600px) and (max-width: 1024px) {
  .main {
    margin: 0rem;
  }
  .contentBox {
    width: 100%;
  }
  .backHome {
    display: inline-block;
  }
}
